* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

.wrapper {
    min-height: 100%;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
}

.hero {
    background: url(../img/content/hero-bs-bg.jpg) no-repeat center/cover;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;

}

.logo {
    margin-top: 0;
    width: 100px;
    height: 100px;
}

.logo__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.btn {
    color: #FFF;
    cursor: pointer;
    border: none;
    padding: 15px 36px 15px 36px;
    border-radius: 5px;
    background-color: #F6762C;
}

.content {
    padding-top: 186px;
    max-width: 49%;
}

.content__main {}

.content__headline {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.7);

}

.tytle {
    Font-size: 57.33px;
    font-weight: 500;
    line-height: 1.18;
    margin-bottom: 37px
}

.content__desc {
    margin-top: ;
    margin-bottom: 42px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.7);
}